<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class="">
    <header class="page-head table-page">
        <h1 class="page-head-title"> <span>Fire</span>   Fighters
            MonitoringSystem</h1>
        <nav class="page-nav">
            <ul class="page-nav-list">
                <li class="page-list-item"><a href="/home" class="page-item-link">Home</a></li>
                <li class="page-list-item"><a href="/logout" class="page-item-link">Logout</a></li>
                <li class="page-list-item"><a href="/firefighterRegister" class="page-item-link">Register</a></li>
                
            </ul>
        </nav>
    </header>


    <h1 class="login-data-heading"> <span>Status</span> Report</h1>
    <section class="page-login-data">
        <div class="data-row">
            <div class="address-line">
                <h4 class="data-column-heading">Address-Line</h4>
            </div>
            <div class="pincode">
                <h4 class="data-column-heading">Pincode</h4>
            </div>
            <div class="district">
                <h4 class="data-column-heading">district</h4>
            </div>
            <div class="state">
                <h4 class="data-column-heading">state</h4>
            </div>
            <div class="location-id">
                <h4 class="data-column-heading">location-id</h4>
            </div>
            <div class="time">
                <h4 class="data-column-heading">time</h4>
            </div>
            <div class="status">
                <h4 class="data-column-heading">status</h4>
            </div>
            <div class="city">
                <h4 class="data-column-heading">city</h4>
            </div>
            <div class="report">
                <h4 class="data-column-heading">report</h4>
            </div>
            <div class="action">
                <h4 class="data-column-heading">action</h4>
            </div>

        </div>

    </section>
    <script src="/javascripts/loginData.js"></script>
</body>
</html>