<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMS</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header class="page-head">
        <h1 class="page-head-title"> <span>Fire</span>   Fighters
            MonitoringSystem</h1>
        <nav class="page-nav">
            <ul class="page-nav-list">
                <li class="page-list-item"><a href="/" class="page-item-link">Home</a></li>
                <li class="page-list-item"><a href="/login-page" class="page-item-link">Login</a></li>
                <li class="page-list-item"><a href="/login-page" class="page-item-link">Register</a></li>
            </ul>
        </nav>
    </header>
    <section class="page-images">
        <div class="page-images-container">
              
            <input type="radio" name="img" id="radio1">
            <input type="radio" name="img" id="radio2">
            <input type="radio" name="img" id="radio3">
            
            <div class="item" id="item1"></div>
            <div class="item" id="item2"></div>
            <div class="item" id="item3"></div>

        </div>    

            <div class="radio-labels">
                <label for="radio1" class="radio-label"></label>
                <label for="radio2" class="radio-label"></label>
                <label for="radio3" class="radio-label"></label>
            </div>

    </section>

</body>
</html>